//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.01Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Thu 02 11 13:30:55 2021

IO_LOC "clk_out" 16;
IO_PORT "clk_out" PULL_MODE=UP DRIVE=8;
IO_LOC "led_out[7]" 38;
IO_PORT "led_out[7]" PULL_MODE=KEEPER DRIVE=8;
IO_LOC "led_out[6]" 40;
IO_PORT "led_out[6]" PULL_MODE=KEEPER DRIVE=8;
IO_LOC "led_out[5]" 42;
IO_PORT "led_out[5]" PULL_MODE=KEEPER DRIVE=8;
IO_LOC "led_out[4]" 44;
IO_PORT "led_out[4]" PULL_MODE=KEEPER DRIVE=8;
IO_LOC "led_out[3]" 39;
IO_PORT "led_out[3]" PULL_MODE=KEEPER DRIVE=8;
IO_LOC "led_out[2]" 41;
IO_PORT "led_out[2]" PULL_MODE=KEEPER DRIVE=8;
IO_LOC "led_out[1]" 43;
IO_PORT "led_out[1]" PULL_MODE=KEEPER DRIVE=8;
IO_LOC "led_out[0]" 45;
IO_PORT "led_out[0]" PULL_MODE=KEEPER DRIVE=8;
IO_LOC "out_sel" 20;
IO_PORT "out_sel" PULL_MODE=UP;
IO_LOC "rst" 15;
IO_PORT "rst" PULL_MODE=UP;
IO_LOC "clk" 35;
IO_PORT "clk" PULL_MODE=UP;
